version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: supermarket-mysql
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD:-123456}"
      MYSQL_DATABASE: supermarketdb
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - supermarket-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 20s
      retries: 10

  redis:
    image: redis:7-alpine
    container_name: supermarket-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - supermarket-network
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 3s
      retries: 5

volumes:
  mysql_data:
    driver: local
  redis_data:
    driver: local

networks:
  supermarket-network:
    driver: bridge